.scene {
    width: 150px;
    height: 150px;
    perspective: 800px;
  }

  .scene:hover .cube{
    animation: rotateY 3s infinite linear;
  }

  .cube {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
  }

  .cube div {
    position: absolute;
    background: #111;
    border: 3px solid #111;
  }

  .front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(7.5px);
  }

  .front img {
    width: 87%;
  }

  .front,.back {
    width: 135px;
    height: 150px;
  }

  .left,.right {
    width: 15px;
    height: 150px;
  }

  .top,.bottom {
    opacity: 0;
    width: 135px;
    height: 25px;
  }

  .back {
    transform: rotateY(180deg) translateZ(7.5px);
  }

  .left {
    transform: rotateY(-90deg) translateZ(100px);
    background: rgba(33, 150, 243, 0.8);
    left: 90px;
  }

  .right {
    transform: rotateY(90deg) translateZ(100px);
    background: rgba(255, 87, 34, 0.8);
    left: 22px;
  }

  .top {
    transform: rotateX(90deg) translateZ(50px);
    background: rgba(255, 235, 59, 0.8);
    top: 35px;
  }

  .bottom {
    transform: rotateX(-90deg) translateZ(50px);
    background: rgba(156, 39, 176, 0.8);
    top: 85px;
  }

  @keyframes rotateY {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }